@import url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/icons.css');
/*h1{
  a.header-anchor{
    display: none;
  }
}*/
pre,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  span {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  }
}

.contenerdor-ejemplo-boton-flotante {
  position: relative;
  min-height: 88px;
  width: 100%;

  .contenedor-boton-flotante {
    position: absolute;
  }
}

.overflow-hidden {
  overflow: hidden;
}
