.contenedor-a11y {
  --a11y-transicion: 300ms;
  --a11y-ancho: 200;
  --a11y-relacion-tiempo: calc(var(--a11y-transicion) / var(--a11y-ancho));
  bottom: 24px;
  right: 24px;
  transition: /* cambia 16px */ bottom
      /* dura lo que al contenedor le tome crecer 32px (16*2) */
      calc(var(--a11y-relacion-tiempo) * 32) linear
      /* al cerrar: tiene un retraso del tiempo que al contenedor le tome reducir a 64px (32*2) */
      calc(var(--a11y-relacion-tiempo) * calc(var(--a11y-ancho) - 64)),
    /* cambia 16px */ right
      /* dura lo que al contenedor le tome crecer 32px (16*2) */
      calc(var(--a11y-relacion-tiempo) * 32) linear
      /* al cerrar: tiene un retraso del tiempo que al contenedor le tome reducir a 64px (32*2) */
      calc(var(--a11y-relacion-tiempo) * calc(var(--a11y-ancho) - 64));
}

.contenedor-a11y.abierto {
  bottom: 8px;
  right: 8px;
  transition-delay: /* al abrir: inicia sin retraso */ 0s,
    /* al abrir: inicia sin retraso */ 0s;
}

.contenedor-a11y > .menu-a11y {
  max-height: 0px;
  width: 0px;
  margin: 0 16px 16px 24px;
  transition: /* cambia 200px */ width
      /* dura el tiempo completo de la transición */ var(--a11y-transicion)
      linear /* al cerrar: inicia sin retraso */ 0s,
    /* cambia el alto del contenido, sin exceder 270px */ max-height
      /* dura el tiempo completo de la transición */ var(--a11y-transicion)
      linear /* al cerrar: inicia sin retraso */ 0s,
    /* cambia 16px */ margin-right
      /* dura lo que al contenedor le tome crecer 32px (16*2) */
      calc(var(--a11y-relacion-tiempo) * 32) linear
      /* al cerrar: tiene un retraso del tiempo que al contenedor le tome reducir a 32px */
      calc(var(--a11y-relacion-tiempo) * calc(var(--a11y-ancho) - 32)),
    /* cambia 16px */ margin-bottom
      /* dura lo que al contenedor le tome crecer 32px (16*2) */
      calc(var(--a11y-relacion-tiempo) * 32) linear
      /* al cerrar: tiene un retraso del tiempo que al contenedor le tome reducir a 32px */
      calc(var(--a11y-relacion-tiempo) * calc(var(--a11y-ancho) - 32));
}

.contenedor-a11y.abierto > .menu-a11y {
  width: calc(var(--a11y-ancho) * 1px);
  max-height: 270px;
  margin-right: 0;
  margin-bottom: 0;
  transition-delay: 0s, 0s,
    /* al abrir: tiene un retraso del tiempo que al contenedor le tome crecer a 32px */
      calc(var(--a11y-relacion-tiempo) * 32),
    /* al abrir: tiene un retraso del tiempo que al contenedor le tome crecer a 32px */
      calc(var(--a11y-relacion-tiempo) * 32);
}
